h1 { text-align: center }
h2 { text-align: center }

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexChild{
    margin: auto;
}

#meteo-jours {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 2em;
}

#main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
#heure {
  grid-column: 1;
  grid-row: 1;
}
#meteo {
  grid-column: 2 / span 2;
  grid-row: 1;
}
#actions {
    grid-column: 1;
    grid-row: 2;
}
#production-solaire {
    grid-column: 2;
    grid-row: 2;
}
#consommation-électrique {
    grid-column: 3;
    grid-row: 2;
}
